header
    background-color: #212529
    position: fixed
    right: 0
    left: 0
    z-index: 1
    .menu
        display: flex
        justify-content: space-between
        align-items: center
        padding: 25px 0
        .imgbox
            width: 140px
        .btn
            display: flex
            align-items: center
            display: none
            color: #9a9d98
            font-weight: 700
            border: 1px solid #9a9d98
            border-radius: 6px
            border-radius: 7px
            .icon
                font-size: 13px
                margin-left: 7px
        nav
            a
                font-size: 25px
                margin-left: 25px
                &:hover
                    color: #f7af1b
                    cursor: pointer
    @media screen and ( max-width: 992px )
        .menu
            padding: 19px
            nav
                display: none
                a
                    font-size: 25px
                    margin-left: 25px
                    &:hover
                        color: #f7af1b
                        cursor: pointer
            .btn
                display: flex
                align-items: center
                color: #9a9d98
                font-weight: 700
                border: 1px solid #9a9d98
                border-radius: 6px
            .icon
                font-size: 13px
                margin-left: 7px
