body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

section {
  padding: 50px 0;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
  cursor: pointer;
}

header {
  background-color: #212529;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}
header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
header .menu .imgbox {
  width: 140px;
}
header .menu .btn {
  display: flex;
  align-items: center;
  display: none;
  color: #9a9d98;
  font-weight: 700;
  border: 1px solid #9a9d98;
  border-radius: 6px;
  border-radius: 7px;
}
header .menu .btn .icon {
  font-size: 13px;
  margin-left: 7px;
}
header .menu nav a {
  font-size: 25px;
  margin-left: 25px;
}
header .menu nav a:hover {
  color: #f7af1b;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  header .menu {
    padding: 19px;
  }
  header .menu nav {
    display: none;
  }
  header .menu nav a {
    font-size: 25px;
    margin-left: 25px;
  }
  header .menu nav a:hover {
    color: #f7af1b;
    cursor: pointer;
  }
  header .menu .btn {
    display: flex;
    align-items: center;
    color: #9a9d98;
    font-weight: 700;
    border: 1px solid #9a9d98;
    border-radius: 6px;
  }
  header .menu .icon {
    font-size: 13px;
    margin-left: 7px;
  }
}

#ourstudio {
  background-image: url("https://raw.githubusercontent.com/startb00tstrap/startb00tstrapagency/main/header-bg.jpg");
  background-size: cover;
  background-position: center;
}
#ourstudio .box {
  padding: 145px 0;
  text-align: center;
  color: white;
}
#ourstudio .box .textbox {
  margin-top: 70px;
}
#ourstudio .box .textbox h1 {
  font-size: 40px;
}
#ourstudio .box .textbox h3 {
  font-size: 80px;
  margin: 30px 0 60px;
}
#ourstudio .box .textbox h3, #ourstudio .box .textbox .btn {
  font-weight: 700;
}
#ourstudio .box .textbox .btn {
  font-size: 23px;
  background-color: #ffc800;
  color: white;
  padding: 17px 40px;
  border-radius: 5px;
}
#ourstudio .box .textbox .btn:hover {
  background-color: #d9aa00;
}
#ourstudio .box .textbox .btn h5 {
  cursor: pointer;
}
#ourstudio h1, #ourstudio h3 {
  cursor: text;
}
@media screen and (max-width: 768px) {
  #ourstudio .box {
    padding: 10px;
  }
  #ourstudio .box .textbox {
    margin-top: 105px;
  }
  #ourstudio .box .textbox h1 {
    font-size: 30px;
  }
  #ourstudio .box .textbox h3 {
    font-size: 60px;
  }
}

#services .textbox {
  text-align: center;
}
#services .textbox h1 {
  font-size: 50px;
  font-weight: 700;
}
#services .textbox h3 {
  font-size: 20px;
  color: #747886;
  margin: 20px 0 60px;
}
#services .box .icon {
  display: flex;
  justify-content: center;
  font-size: 65px;
  color: white;
}
#services .box .icon i {
  background-color: #ffc800;
  padding: 30px 23px;
  border-radius: 50%;
}
#services .box .bell {
  display: flex;
  justify-content: center;
  font-size: 65px;
  color: white;
}
#services .box .bell i {
  background-color: #ffc800;
  padding: 30px 27px;
  border-radius: 50%;
}
#services .box .risk {
  display: flex;
  justify-content: center;
  font-size: 65px;
  color: white;
}
#services .box .risk i {
  background-color: #ffc800;
  padding: 30px 35px;
  border-radius: 50%;
}
#services .box .textbox h2 {
  font-size: 31px;
  font-weight: 700;
  margin: 15px 0 20px;
}
#services .box .textbox h4 {
  font-size: 20px;
  color: #747886;
  line-height: 1.4;
}
#services h1, #services h2, #services h3, #services h4 {
  cursor: text;
}
@media screen and (max-width: 767px) {
  #services .box {
    margin-bottom: 15px;
  }
}

#portfolio {
  background-color: #f8f9fa;
}
#portfolio .textbox {
  text-align: center;
}
#portfolio .textbox h1 {
  font-size: 50px;
  font-weight: 700;
}
#portfolio .textbox h3 {
  font-size: 20px;
  color: #747886;
  margin: 20px 0 60px;
}
#portfolio .box {
  background-color: white;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
#portfolio .box .imgbox {
  position: relative;
}
#portfolio .box .imgbox .icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
}
#portfolio .box .imgbox .icon:hover {
  background-color: #e7b501;
  opacity: 0.9;
  cursor: pointer;
}
#portfolio .box .imgbox .icon i {
  cursor: pointer;
}
#portfolio .box .textbox h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 25px 0 10px;
}
#portfolio .box .textbox h4 {
  font-size: 20px;
  color: #747886;
}
#portfolio h1, #portfolio h2, #portfolio h3, #portfolio h4 {
  cursor: text;
}

#about .textbox h1 {
  font-size: 50px;
  font-weight: 700;
}
#about .textbox h3 {
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */